@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to bottom, darkgreen, darkblue);
}

header{
    background-image: linear-gradient(to bottom, #bbbbbb,rgb(50, 50, 50) , rgb(10, 10, 10) , rgb(0, 0, 0), black);
    margin-bottom: 0px;
}

header > h1 {
    color: white;
    margin-top: 0px;
    padding: 30px;
    text-align: center;
}

#menu{
    padding: 15px;
    display: block;
    color: white;
    text-align: center;
    background-color: black;
    cursor: pointer;
}


#menu:hover{
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
}

#itens{
    display: none;
}

menu > ul {
    background-color: darkgray;
    list-style-type: none;
}

menu > ul > li > a{
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(141, 141, 141);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover{
    text-decoration: underline;
    background-color: darkgrey;
    color: black;
}

main {
    width: 90vw;
    margin-top: 10px;
    margin: auto;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lightgrey;
}

article > h2{
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}