@charset "UTF-8";

/* Estilo Para Impressoras */

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 2em;
}

menu{
    display: none;
}

article::after{
    font-size: 2px;
    content: '1+1=11';
}