@charset "UTF-8";

:root{
    --font1:verdana, geneva, tahoma, sans-serif, serif;
    --fonte2: 'Pacifico', cursive;
    --fonte3: 'Passion One', cursive;
}

body{
    background-color: white;
    min-height: 100%;
}



header{
    background-color: black;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

header > h1{
    font-family: var(--fonte3);
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 5vw;
}

header > a{
    color: white;
    font-size: 3.5vw;
    text-decoration: none;
} 

header > a:hover{
    transition-duration: 1.5s;
    text-decoration: underline;
}

section{
    font-size: 3vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-left: 50px;
    padding-bottom: 1vh;
    font-family: var(--fonte2);
}

section > p{
    padding-bottom: 2em;
    display: inline-block;
    text-shadow: 1px 1px 0px black;
    background-color: rgba(0, 0, 0, 0.33);
}
#imagem1{
    color: white;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    background-position: right center;
    box-shadow: inset  6px 6px 13px 0px black;
    background-image: url(imagens/background001.jpg);
}

#imagem2{
    color: white;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    background-position: right center;
    box-shadow: inset  6px 6px 13px 0px black;
    background-image: url(imagens/background002.jpg);
}

footer{
    color: white;
    text-align: center;
    background-color: black;
    padding: 20px;
}
footer > a{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer > a:hover{
    text-decoration: underline;
}
